header{
    display: flex;
    gap: 220px;
    height: auto;
    width: auto;
    justify-content: center;
    background-color: #2F5C41;
    padding:  20px;
}
nav{
    display: flex;
    gap: 100px;
    width: auto;
    height: 50px;
    justify-content: center;
        background-color: #3A8156;
    padding: 10px;
}
span{
    text-align: center;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
}
span:hover{
    background-color: #2d9657;
    cursor: pointer;

}

 .link{
    text-decoration: none;
}